@model Eventful_Bite_App.Models.DetailsDistrict
@{
    ViewBag.Title = "Details";
}

<div class="wrap-list">
    <div class="list-column">
        <h2>Events in @Model.SelectedDistrict.DistrictName District</h2>

        <ol>
            @foreach (var Event in Model.KeptEvents)
            {

                <li>
                    <a href="/Event/Details/@Event.EventId" class="citylist">@Event.EventName</a>
                </li>

            }
        </ol>
    </div>
    <div class="list-column">
        <h3>Restaurant Branches in @Model.SelectedDistrict.DistrictName</h3>
        @if (Model.Branches != null && Model.Branches.Any())
        {
            <ol>
                @foreach (var branch in Model.Branches)
                {
                    <li>
                        <a href="/Branch/Details/@branch.BranchId">@branch.RestaurantName</a>
                    </li>
                }
            </ol>
        }
        else
        {
            <p>No branches available for this district.</p>
        }

        <div>
            <a href="/District/List" class="btn btn-outline-secondary">Go back to list</a>
        </div>
    </div>
</div>

