﻿@model Eventful_Bite_App.Models.EventDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<div class="wrap-width">
    <h2>Delete <i>@Model.EventName</i> in @Model.DistrictName</h2>
    <p>Are you sure you want to delete this event?</p>


    <form style="margin-top:2rem;" action="/Event/Delete/@Model.EventId" method="post">
        <input type="submit" value="Confirm Delete" class="btn btn-danger" />
        <a href="/Event/List" class="btn btn-outline-secondary">Cancel</a>
    </form>
</div>