@model Eventful_Bite_App.Models.EventDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>ConfirmDelete</h2>

<h2>Are you sure you want to delete this event?</h2>
<p>@Model.EventName in @Model.DistrictName</p>

<a href="/Event/List">Cancel</a>

<form action="/Event/Delete/@Model.EventId" method="post">
    <input type="submit" value="Confirm Delete" />
</form>