@{
    ViewBag.Title = "Home Page";
}
<div class="banner">
    <div class="wrap-banner">
        <h1 id="title-app">Discover new places</h1>
        <p>Explore, have fun & make it last forever.</p>
    </div>
</div>
<main>
    <div class="row">
        <div class="wrap-category">
            <div class="category-column">
                <h2>Events</h2>
                <img src="~/Content/Images/events.jpg" alt="Alternate Text" />
                <p>Discover Toronto like never before! Whether you're a local or a visitor, this app is your gateway to the city's dynamic and diverse events. From lively festivals to cozy art shows, get detailed information on all the happenings across the city. Don't miss out  the excitement!</p>
            </div>
            <div class="category-column">
                <h2>Branches</h2>
                <img src="~/Content/Images/restaurants.jpg" alt="restaurants" />
                <p>
                    Branches make it easy to discover the perfect restaurant near you or close to an event you're attending. Whether you're seeking a quick meal nearby or want to dive into the local culinary scene, Branches will guide you to the best options. Find the best spots around your location!
                </p>
            </div>
            <div class="category-column">
                <h2>Journal</h2>
                <img src="~/Content/Images/journal.png" alt="Alternate Text" />
                <p>Capture and share your Toronto adventures with the innovative journaling feature! Document your experiences at restaurants, events, and more, all while preserving your favorite memories. Add your personal reviews and ratings, giving others insights into your journey.</p>
            </div>
        </div>
    </div>
</main>