﻿@model IEnumerable<Eventful_Bite_App.Models.DistrictDto>
@{
    ViewBag.Title = "List";
}
<h1 style="text-align:center; margin-bottom:20px">Eventful Bite Journal</h1>
<div class="wrap-list">
    <div class="list-image">
        <img src="~/Content/Images/toronto.png" alt="List" />
    </div>
    <div class="list-display">
        <h6>1. Select District</h6>
        <div class="districts">
            @foreach (var District in Model)
            {
                <div>
                    <a href="Details/@District.DistrictId"> @District.DistrictName</a>
                </div>
            }
        </div>
    </div>
</div>