@model Eventful_Bite_App.Models.JournalDto

@{
    ViewBag.Title = "Details";
}

<h2>@Model.JournalTitle</h2>

<div>
    <div>Description:</div>
    <div>@Model.JournalDescription</div>
    <div>Date: @Model.EntryDate</div>
</div>

<div class="btnControls">
    <a href="/Journal/Edit/@Model.JournalId" class="btn btn-primary">Update</a>
    <a href="/Journal/DeleteConfirm/@Model.JournalId" class="btn btn-danger">Delete</a>
    <a href="/Journal/List" class="btn btn-outline-secondary">Go back to list</a>
</div>

