@model Eventful_Bite_App.Models.JournalDto
@{
    ViewBag.Title = "Edit";
}

<form action="/Journal/Update/@Model.JournalId" method="post">
    <div style="display:none;">
        @* Pass through the Event ID *@
        <input type="text" name="JournalId" value="@Model.JournalId" class="form-control" />
    </div>
    <div class="form-group">
        <label>Journal Title:</label>
        <input type="text" name="JournalTitle" value="@Model.JournalTitle" class="form-control" />
    </div>
    <div class="form-group">
        <label>Journal Description:</label>
        <textarea name="JournalDescription" placeholder="@Model.JournalDescription" class="form-text"></textarea>
    </div>
    <div style="margin-top:2rem;">
        <input type="submit" value="Update Entry" class="btn btn-primary" />
        <a style="margin-left: 0.2rem;" href="/Journal/Details/@Model.JournalId" class="btn btn-outline-secondary" role="button">Cancel</a>
    </div>
</form>
