@model IEnumerable<Eventful_Bite_App.Models.JournalDto>

@{
    ViewBag.Title = "List";
}

<h2>Journal Entries</h2>

<div class="Journal">
    @foreach (var journal in Model)
    {
        <div>
            <a href="Details/@journal.JournalId"> @journal.JournalTitle</a>
        </div>
    }
</div>

