@model IEnumerable<Eventful_Bite_App.Models.JournalDto>

@{
    ViewBag.Title = "List";
}

<div class="wrap-list">
    <div class="list-image">
        <img src="~/Content/Images/listentries.jpg" alt="List" />
    </div>
    <div class="list-display">
        <h2>Journal Entries</h2>

        <button style="margin-top:1rem; margin-bottom:0.7rem" type="button" class="btn btn-primary"><a href="/EventJournal/District" class="restaurant-add" style="color:white; text-decoration:none">Create Journal Entry</a></button>

        <div class="Journal">
            @foreach (var journal in Model)
            {
                <div>
                    <a href="Details/@journal.JournalId"> @journal.JournalTitle</a>
                </div>
            }
        </div>
    </div>
</div>